.navbar {
    background-color: black;
    height: 50px;
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
    position: sticky;


}

ul,
li {
    display: inline-block;
    list-style-type: none;
    color: white;
    align-items: center;
    justify-content: center;
}

.navbar h3 {
    color: white;
    display: inline-block;
    margin: 0px 0px 0px 98px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    margin: 0px 10px 0px 161px;
    display: flex;
    color: white;
}

.icons a {
    color: white;
    display: inline-flex;
    flex-direction:row;
    margin:0px 7px 0px 37px;
    position: relative;
    left:1196px;
    top:-32px;
}

.display {  
    position: relative;
    background-image: url("bg.png");
    height:100vh;
    width:100%;
    background-size: cover;
    background-position: center;
}

.disc {
    font-family: sans-serif;
    padding:246px 0px 0px 185px;
}
.disc h1{
   font-size: 57px;
display: inline-block;
}
.disc h6{
    position:relative;
    top:57px
}
.disc p{
    position: relative;
    top:-42px;
}
.shop a{
    position: relative;
    bottom:39px;
    border:2px solid black;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    padding: 6px 11px 6px 11px;
}

.display img {
    height: 600px;
    width: 90%;


}

.new {
    background-color: black;
    height: 50px;
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
    position: sticky;
}
.mainnew{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin:8px 98px 0px 98px;

}



.main h2 {
    text-align: center;
    font-family: sans-serif;
    padding-top: 30px;

}

.Names h3 {
    display: inline-block;
    font-family: sans-serif;
    margin: 0px 0px 0px 0px;
}

.star a {
    color: yellow;
}

.star i {
    margin: 0px 0px 0px 0px;
    font-size: 0.7rem;
}

.cart a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
}

.cost p {
    font-family: sans-serif;
    margin: -53px 0px 0px 229px;
}

.n-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 3rem;
    margin: 0px 0px 0px 0px;

}

.btn1 a {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 60px 0px 0px 699px;
    display: inline-block;
    padding: 10px 18px 10px 18px;
    font-family: sans-serif;
    background-color: black;
    transition: all .5s ease-in-out;
    
}

.btn1 a:hover {
    transform: scale(1.1);
    transform: translateX(-5px);


}

.products {
    overflow: hidden;
    border-radius: 28px;
    margin-bottom: 15px;
}

.products img {
    display: block;
    width: 100%;
    transition: transform 0.5s;
    cursor: pointer;
}

.products:hover img {
    transform: scale(1.1);
}

.contentfea h3 p {
    font-family: sans-serif;
    display: inline-block;

}

.des,
h3 {
    font-family: sans-serif;
    display: inline-block;
}

.des pre {
    margin: 0px 0px 0px -132px;
    font-family: sans-serif;
}

.repolicy pre {
    margin: 0px 0px 0px -132px;
    font-family: sans-serif;
}

.retailpo pre {
    margin: 0px 0px 0px -132px;
    font-family: sans-serif;
}

.repolicy h3 {
    font-family: sans-serif;
    display: inline-block;
}

.retail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    align-items: center;
    gap: 2.5rem;
    margin: 20px 0px 0px 70px;


}


.box {
    border-left: var(--text-color);
    display: flex;
    padding: 15px 15px 15px 30px;
    box-shadow: 0px 10px 25px rgba(150, 8, 8, 0.1);
    border-radius: 5px;
    border-left: 4px solid var(--second-color);
    gap: 30px;
    width: 330px;
}



.bests {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2rem;
    margin: 30px 0px 0px 70px;
    align-items: center;
}


.sellers h2 {
    font-family: sans-serif;
    text-align: center;

}

.lopage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    background-color: black;
    color: white;
    border-radius: 28px;
    padding: 0px 0px 0px 124px;
    height: 100px;
    width: 1145px;
    margin: 38px 0px 0px 105px;
    line-height: 0px;

}

.input input[type="email"] {
    width: 276px;
    height: 25px;
}

.input input[type="submit"] {
    height: 29px;
    width: 67px;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2rem;
    margin: 80px 0px 0px 110px;
    font-family: sans-serif;
}

.company {
    display: flex;
    flex-direction: column;

}

.company a {
    text-decoration: none;
    color: black;
    margin-bottom: 0.8rem;
    transition: all 0.5s ease-in-out;
}

.company a:hover {
    transform: translateX(-5px);
    color: var(--text-color);
}

.social a {
    display: inline-flex;
    text-decoration: none;
    color: black;
    font-size: 30px;
    align-items: center;
    margin: 0px 19px 0px -16px;
    transform: transform 0.6s;
}

.social a:hover {
    transform: rotate3d(0, 0, 1, 360deg) scale(1.06);
}

.copy {
    color: white;
    background-color: black;
    height: 48px;
    width: 100%;
    border-radius: 28px;
    margin-top: 30px;
}

.copy p {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 14px;
    text-align: center;
}

.besti a {
    
    text-decoration: none;
    color: white;
    margin: 64px 0px -59px -69px;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 30px;
    height: 24px;
    border-radius: 5px;
    padding: 5px 0px 0px 0px;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.besti a:hover {
    transform: rotate3d(0, 0, 1, 360deg) scale(1.06);
}